<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <h1>Please select month as follows</h1>
    <form action="" method="POST">{% csrf_token %}
        <input type="checkbox" name="month" value="Jan">January<br>
        <input type="checkbox" name="month" value="Feb">February<br>
        <input type="checkbox" name="month" value="Mar">March<br>
        <input type="checkbox" name="month" value="Apr">April<br>
        <input type="checkbox" name="month" value="May">May<br>
        <input type="submit" value="submit">
    </form>

</head>
<body>

</body>
</html>