<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <h1>Please select month as follows</h1>
    <form action="" method="POST">{% csrf_token %}
        {{ form.comment }}<br>
        {{ form.scheduler_type }}<br>
        {{ form.start_type }}<br>
        {{ form.month_list }}
        {{ form.week_day }}
        {{ form.date_day }}
        start_time : {{ form.start_time }}<br>
        stop_time : {{ form.stop_time }}<br>
        stop_type : {{ form.stop_type }}<br>
        lifetime quantity : {{ form.lifetime_quantity }}<br>
        lifetime unit : {{ form.lifetime_unit }}<br>
        <input type="submit" value="submit">
    </form>
</head>
<body>

</body>
</html>