<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <h1>Comment : {{ instance.comment }}</h1>
    scheduler type : {{ instance.scheduler_type }}<br>
    start type : {{ instance.start_type }}<br>
    month list : {{ instance.month_json }}<br>
    week day : {{ instance.weekday_json }}<br>
    date : {{ instance.schedule_days }}<br>
    start_time : {{ instance.start_time|time:"H:i" }}<br>
    stop_time : {{ instance.stop_time|time:"H:i" }}<br>
    stop_type : {{ instance.stop_type }}<br>
    lifetime quantity : {{ instance.lifetime_quantity }}<br>
    lifetime unit : {{ instance.lifetime_unit }}<br>
</head>
<body>

</body>
</html>